:root {
    --default-yellow: rgb(255, 255, 100);

    --Up-gradient-0: rgb(255, 255, 100);
    --Up-gradient-1: rgb(229.5, 255, 100);
    --Up-gradient-2: rgb(204, 255, 100);
    --Up-gradient-3: rgb(178.5, 255, 100);
    --Up-gradient-4: rgb(153, 255, 100);
    --Up-gradient-5: rgb(127.5, 255, 100);
    --Up-gradient-6: rgb(102, 255, 100);
    --Up-gradient-7: rgb(76.5, 255, 100);
    --Up-gradient-8: rgb(51, 255, 100);
    --Up-gradient-9: rgb(25.5, 255, 100);
    --Up-gradient-10: rgb(0, 255, 100);
    /*There was a weird glitch where the 0 gradients would be the colour of default yellow
    but would compile to the --left-gradient-1 yellowish-green, to solve this you just copied and pasted
    the default yellow RGB in the 0 gradients until the yellow was correct*/
    
    --Down-gradient-0: rgb(255, 255, 100);
    --Down-gradient-1: rgb(255, 229.5, 100);
    --Down-gradient-2: rgb(255, 204, 100);
    --Down-gradient-3: rgb(255,178.5, 100);
    --Down-gradient-4: rgb(255, 153, 100);
    --Down-gradient-5: rgb(255, 127.5, 100);
    --Down-gradient-6: rgb(255, 102, 100);
    --Down-gradient-7: rgb(255, 76.5, 100);
    --Down-gradient-8: rgb(255, 51, 100);
    --Down-gradient-9: rgb(255, 25.5, 100);
    --Down-gradient-10: rgb(255, 0, 100);
}

.marker-svg {
    transform-origin: 50% 100%;  /* scales around the bottom-center of the SVG */
}

#upArrow {
    fill: rgb(33, 202, 73);
    transform: scale(0.1) translate(1600px, 1700px); 
    transform-origin: 0 0; /* or whatever point you want as the origin */
}

#Up:hover #upArrow{
    animation: fillChangeUpArrow 0.1s forwards;
}

@keyframes fillChangeUpArrow {
    to { 
      fill: rgb(72, 154, 72);
    }
}

#downArrow {
    fill: rgb(255, 117, 117);
    transform: scale(0.1) translate(140px, 1700px); 
    transform-origin: 0 0; /* or whatever point you want as the origin */
}

#Down:hover #downArrow{
    animation: fillChangeDownArrow 0.1s forwards;
}

@keyframes fillChangeDownArrow {
    to { 
      fill: rgb(202, 33, 73);
    }
}

.svg-text-content {
    font-family: Verdana,sans-serif;
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0; /* Ensure no padding */
    overflow: hidden; /* Hide overflow */

}

#MaynoothMap {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#postButton, #toggleButton, #infoButton {
    fill: #7192ad;
    width: 60px;
    height: 60px; 
    border: none;
    position: fixed; 
    margin: 0;
    padding: 0;
    bottom: 1.5%; 
    z-index: 2;
}

  #postButton {
    left: 5%; 
  }
  
  #toggleButton {
    left: 47%; 
  }
  
  #infoButton {
    right: 5%; 
  }

  @media (max-width: 768px) {

    #postButton, #toggleButton, #infoButton {
        bottom: 2%; 

    }

    #postButton {
        left: 5%; 
      }
      
      #toggleButton {
        left: 43%; 
      }
      
      #infoButton {
        right: 5%; 
      }
}

#inputPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute; /* Or fixed depending on your need */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; 
}


#customInput {
    background-color: var(--default-yellow);  /* Makes the input background yellow */
    color: rgb(0, 0, 0);               /* Makes the text color blue */
    border: none;              /* Removes any default borders */
    outline: none;             /* Removes the default focus outline */
    padding-top: 0%;
    resize: none;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    overflow: hidden;

}

.closePopupLine {
    stroke: var(--Down-gradient-10);
    stroke-width: 3;
}


.postLine {
    stroke: var(--Up-gradient-10);
    stroke-width: 3;
}



/*
#inputPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; 
}

#commentBox, #deleteButton, #fakePostBox {
    position: fixed;
    z-index: 1000; 
    left: 2%;
}

#commentBox {
    width: 50%;
    bottom: 13%;
}

#deleteButton {
    bottom: 10%;
}

#fakePostBox {
    bottom: 5%;
}

textarea {
    width: 100%; 
    font-size: 1em; 
}*/
