:root {
    --default-yellow: rgb(255, 255, 100);

    --Up-gradient-0: rgb(255, 255, 100);
    --Up-gradient-1: rgb(229.5, 255, 100);
    --Up-gradient-2: rgb(204, 255, 100);
    --Up-gradient-3: rgb(178.5, 255, 100);
    --Up-gradient-4: rgb(153, 255, 100);
    --Up-gradient-5: rgb(127.5, 255, 100);
    --Up-gradient-6: rgb(102, 255, 100);
    --Up-gradient-7: rgb(76.5, 255, 100);
    --Up-gradient-8: rgb(51, 255, 100);
    --Up-gradient-9: rgb(25.5, 255, 100);
    --Up-gradient-10: rgb(0, 255, 100);
    /*There was a weird glitch where the 0 gradients would be the colour of default yellow
    but would compile to the --left-gradient-1 yellowish-green, to solve this you just copied and pasted
    the default yellow RGB in the 0 gradients until the yellow was correct*/
    
    --Down-gradient-0: rgb(255, 255, 100);
    --Down-gradient-1: rgb(255, 229.5, 100);
    --Down-gradient-2: rgb(255, 204, 100);
    --Down-gradient-3: rgb(255,178.5, 100);
    --Down-gradient-4: rgb(255, 153, 100);
    --Down-gradient-5: rgb(255, 127.5, 100);
    --Down-gradient-6: rgb(255, 102, 100);
    --Down-gradient-7: rgb(255, 76.5, 100);
    --Down-gradient-8: rgb(255, 51, 100);
    --Down-gradient-9: rgb(255, 25.5, 100);
    --Down-gradient-10: rgb(255, 0, 100);
}

#up {
    position: absolute;
    top:  175px;
    right: 0px;
}

#down {
    position: absolute;
    top:  175px;
    left: 0px;
}
